    html {
    font-size: 10px;
    background-color: rgb(148, 96, 24);
  }
  
  body {
    width: 100%;
    height:100%;
    margin: 0 auto;
    background-color:rgb(183, 179, 196);
    padding: 1%;
    border-radius: 4px;
  }
  .wrapper{
    flex-direction: column;
    display: flex;
    align-items: center;

  }
  .container{
    flex-flow: row wrap;
    display: flex;
    max-width: 960px;
    align-items: flex-start;
    justify-content: space-between;
}

  .one{
    padding: 20px;
    text-align: left;
    flex: 0 1 auto;
    width: 165px;
  }
  .one p{
      text-align: center;
      display: inline-block;
      border: 10px solid transparent;
      background-color: rgb(98, 107, 98);
      flex:0 1 auto;
      font-size: 20px;
  
  }
  .two{
    border-style: dotted;
    flex-direction: row;
    background-color: rgb(106, 106, 112);
    text-align: center;
    flex: 0 2 auto;
    padding: 10px;
  }
  h1 {
    font-size: 8rem;
    text-align: center;
    text-shadow: 2px 2px 10px rgb(133, 26, 26);
  }
  p{
    font-size: 1.6rem;
    line-height: inherit;
  }
  h2 {
    font-size: 3rem;
    text-align: left;
  }
  
  li .h3 {
    float: left;
    text-align: left;
    font-size: 2.2rem;
    list-style: none;
  }

  ul {
    
    font-size: 1.6rem;
    line-height: 0.9;
  }
  ol .li{
    padding: 0;
    margin: 0;
    display: inline;
  }
  
  /* || header layout */
  
  .header {
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(128, 128, 143);
  }
  
  
  